body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header,
.intro,
.gallery,
.quote-speaker,
.quote-text {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
}


.header {
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;

}

.logo,
.right-links {
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

a:link {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.intro {
    justify-content: space-between; 
    align-items: center;
    background-color: #1F2937;
}

.intro-text {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.intro-text h1 {
    color: #F9FAF8;
    font-weight: extra-bold;
    font-size: 48px;
    margin-bottom: 0px;
}

.intro-text p {
    color: #F9FAF8;
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0px;
}

.intro-text button {
    max-width: 100px;
    background-color: #3882F6;
    border-radius: 6px;
    border-color: #3882F6;
    border-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    color: #F9FAF8;
}

#intro-image {
    max-width: 50%;
    height: auto;
    padding: 100px 0px 100px 0px;
}

.gallery {
    flex-direction: column;
    justify-content: center;
}

.gallery-header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.gallery-images {
    display: flex;
    justify-content: space-between;
}

.gallery-text {
    display: flex;
    justify-content: space-between;
}

.gallery-images img {
    border: 6px solid #3882F6;
    border-radius: 20px;
    height: 200px;
    width: auto;
}

.gallery-text p {
    max-width: 200px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;

}

.quote-text,
.quote-speaker {
    align-items: center;
}

.quote-text {
    justify-content: center;
    max-width: 
}

.quote-speaker {
    justify-content: flex-end;
}