body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'Roboto';
}

.header,
.intro,
.gallery,
.quote-text,
.cta-section{
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
}


.header {
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;

}

.logo,
.right-links {
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

a:link {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.intro {
    justify-content: space-between; 
    align-items: center;
    background-color: #1F2937;
}

.intro-text {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.intro-text h1 {
    color: #F9FAF8;
    font-weight: extra-bold;
    font-size: 48px;
    margin-bottom: 0px;
}

.intro-text p {
    color: #F9FAF8;
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0px;
}

.intro-text button {
    max-width: 100px;
    background-color: #3882F6;
    border-radius: 6px;
    border-color: #3882F6;
    border-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
    color: #F9FAF8;
}

#intro-image {
    max-width: 50%;
    height: auto;
    padding: 100px 0px 100px 0px;
}

.gallery {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 75px;
}

.gallery-header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.gallery-images,
.gallery-text {
    display: flex;
    justify-content: space-around;
}

.gallery-images img {
    border: 5px solid #3882F6;
    border-radius: 20px;
    height: 200px;
    width: auto;
}

.gallery-text p {
    max-width: 200px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;

}

.quote-text {
    justify-content: center;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    max-height: 50%;
    flex-wrap: wrap;
    margin-top: 40px;
}

.quote-text h5 {
    margin-top: 50px;
    margin-bottom: -20px;
}

.quote-speaker {
    display: flex;
    justify-content: flex-end;
    padding-right: 400px;
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 50px;
}

.cta-section {
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.cta-box {
    display: flex;
    background-color: #3882F6;
    padding: 20px;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 150px;
    padding-right: 150px;
}

.cta-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #E5E7EB;
    font-size: 24px;

}

.cta-text h5 {
    margin-bottom: -10px;
    font-size: 36px;
}

#cta-button {
    align-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #E5E7EB;
    background-color: #3882F6;
    border-color: #E5E7EB;
    border-width: 5px;
    border-radius: 10px;
    border-style: solid;
    padding: 10px 30px 10px 30px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    margin-top: auto;
    margin-bottom: 0px;
    height: 100px;
}

.footer p {
    color: #E5E7EB;
    font-size: 18px;
}